.h1{
    color: rgb(254, 180, 151);
    margin-bottom: 5px;
}

.project_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 7vw;
}

.section{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 30px;
}

.image{
    width: 100%;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.p{
    color: rgb(244, 193, 210);
    font-size: 18px;
    line-height: 24px;
}