/*websites section*/
.projects {
  display: grid;
  grid-template-columns: auto;
  gap: 50px;
  padding: 0 6.5vw;

  @media (min-width: 768px) {
    grid-template-columns: auto auto;
  }

  @media (min-width: 1024px) {
    grid-template-columns: auto auto auto auto;
  }
}

.websites {
  width: 100%;
}

.logos {
  width: 100%;
}

.artworks {
  width: 100%;
}

.animations {
  width: 100%;
}

.h2 {
  font-size: 34px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.h3 {
  font-size: 26px;
  margin-bottom: 15px;
}

.orange {
  color: rgb(254, 180, 151);
}

.pink {
  color: rgb(244, 193, 210);
}

.centered {
  text-align: center;
}

.projectImage {
  max-width: 100%;
  max-height: 70%;
  object-fit: scale-down;
  margin: auto;
}

.withBR {
  border-radius: 25px;
}

.imageContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 250px 250px 250px;
  gap: 20px;
}

.p {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.imgCont {
  display: flex;
  flex-direction: column;
}
