@font-face {
  font-family: h1Font;
  src: url("@/font/Intro.otf");
}

@font-face {
  font-family: mainFont;
  src: url("@/font/IntroHead.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}

body {
  padding: 0;
  /*background-color: rgb(2, 3, 30);*/
}

.introBig {
  font-family: h1Font;
}

.introMain {
  font-family: mainFont;
}

  /*for showing animation*/
.scroll_show_animate{
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.5s ease;
}

/*show on scroll*/
.show {
  opacity: 1;
  transform: translateY(0);
}