.h1 {
  color: rgb(254, 180, 151);
  margin-bottom: 50px;
  margin-top: 50px;
}

.projects_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.project_tile {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 50px;
}

.row {
  flex-direction: column;
  
  @media (min-width: 426px) {
  flex-direction: row;
  }
}

.row_reverse {
  flex-direction: column;

  @media (min-width: 426px) {
  flex-direction: row-reverse;
  }
}

.project_image {
  width: 45%;
  border-radius: 25px;
  object-fit: cover;
}

.projects_section {
  padding: 0 7vw;
}

.more {
  padding: 15px 25px;
  color: rgb(244, 193, 210);
  border: 3px solid rgb(244, 193, 210);
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.more:hover {
  background-color: rgba(244, 193, 210, 0.166);
}

.text {
  color: rgb(254, 180, 151);
  margin-bottom: 10px;
  font-size: 17px;
}

.h2 {
  display: flex;
  flex-direction: column;
  color: rgb(244, 193, 210);
  margin-bottom: 20px;
  width: 85%;

  @media (min-width: 769px) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  }
}

.date {
  font-size: 16px;
  margin-top: 5px;

  @media (min-width: 769px) {
  margin-left: auto;
  margin-top: 0;
  }
}

.last_text{
  margin-bottom: 50px;
}