/*hero*/

.hero_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: -100px;
    margin-left: -25px;

    /*visuals*/
    background-color: rgb(2, 3, 30);
}

.hero_image{
    /*visuals*/
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid rgb(254, 180, 151);
    height: 200px;

}

.h1{
    text-align: center;
    margin-top: 10px;

    /*visuals*/
    color: rgb(254, 180, 151);
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
}

.hero_p{
    text-align: center;
    margin-top: 10px;

    /*visuals*/
    color: rgb(244, 193, 210);
    font-size: 21px;
    line-height: 26px;
}

/*about me section*/

.about_div{
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 50px;
    margin-top: 30px;
    min-width: 100%;
}

.icon{
    height: 40px;
    width: 40px;

    /*visuals*/
    border: 2.5px solid rgb(254, 180, 151);
    border-radius: 25%;
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 20px;
}

.flex_column_div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.btn{
    margin-top: 25px;
    margin-left: -25px;
}

.about_sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*visuals*/
    background-color: rgb(2, 3, 30);
    padding-left: 7vw;
}


.h2{
    color: rgb(254, 180, 151);
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}

.p{
    color: rgb(244, 193, 210);
    font-size: 18px;
    line-height: 24px;
}

.h3{
    color: rgb(244, 193, 210);
    font-size: 22px;
    font-weight: 800;
}