/*fonts*/
@font-face {
  font-family: h1Font;
  src: url("@/font/Intro.otf");
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0;
  position: sticky;
  top: 0;
  left: 0;
  padding: 6vh 3vw 5vh 3vw;

  /*visuals*/
  font-size: 24px;
  background-color: rgb(2, 3, 30);
  font-weight: 800;
  z-index: 3;
}

.language {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  margin-top: -12px;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.link {
  color: rgb(244, 193, 210);
  font-weight: 800;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: rgb(254, 180, 151);
}

.symbol {
  color: rgb(244, 193, 210);
  font-weight: 800;
  font-size: 40px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  font-family: h1Font;
}

.symbol:hover {
  color: rgb(254, 180, 151);
}

.hiddenLang {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.hover_underline {
  position: relative;
  display: inline-block;
}

.hover_underline::after,
.hover_underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.8px;
  background: linear-gradient(to right, rgb(254, 180, 151), rgb(255, 150, 109));
  bottom: -1px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-out;
  border-radius: 25px;
}

.hover_underline:hover::after,
.hover_underline:hover::before {
  transform: scaleX(1.1);
}

.hover_underline_nav {
  position: relative;
  display: inline-block;
}

.hover_underline_nav::after,
.hover_underline_nav::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.8px;
  background: linear-gradient(to right, rgb(254, 180, 151), rgb(255, 150, 109));
  bottom: 7px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-out;
  border-radius: 25px;
}

.hover_underline_nav:hover::after,
.hover_underline_nav:hover::before {
  transform: scaleX(1.05);
}

/*underline animation*/

.fadeIn {
  transition: all 0.5s ease-in-out;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInRide {
  transition: all 0.5s ease-in-out;
  animation-name: fade-in-ride;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in-ride {
  0% {
    opacity: 0;
    margin-left: -25px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

.fadeInRideRight {
  transition: all 0.5s ease-in-out;
  animation-name: fade-in-ride-r;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in-ride-r {
  0% {
    opacity: 0;
    margin-left: 100px;
  }
  50% {
    margin-left: 0px;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
