.hidden{
    display: none;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 15px;
    position: sticky;
    top: 0;
    left: 0;
}

.language{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    margin-top: -20px;
}

.navigation{
    display: flex;
    flex-direction: row;
    gap: 15px;
}