.hidden{
    display: none;
}

/*header styles*/

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 15px;
    position: sticky;
    top: 0;
    left: 0;
}

/*language styles*/

.language{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    margin-top: -20px;
}

/*navigation styles*/

.navigation{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

/*main styles*/

/*hero section*/

.hero_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.hero_image{
    width: 150px;
    height: 150px;
}

.h1{
    text-align: center;
}

.hero_p{
    text-align: center;
    margin-top: -10px;
}

/*footer styles*/